:root {
    --spacing-unit: 10px;
    --logo-color: #273992;
    --text-color: #222;
    --medium-color: #333;
    --grey-color: #444;
    --link-border: 1px solid rgba(34, 34, 34, 0.2);
    --header-font-family: europa, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    --body-font-family: chaparral-pro, serif;
    /* font-size: 1.1em; */
}

* {
    margin: 0;
    padding: 0;
    color: var(--text-color);
    font-family: var(--body-font-family);
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--header-font-family);
}

p {
    font-family: var(--body-font-family);
    font-size: 1.1em;
    line-height: 1.6em;
    color: var(--medium-color);
}

i, del, b {
    color: currentColor;
    font-family: inherit;
}

p b {
    font-family: var(--header-font-family);
    color: currentColor;
}

a {
    color: currentColor;
    text-decoration: none;
    cursor: pointer;
    /* border-bottom: var(--link-border); */
}

button, a {
    transition: opacity 0.3s;
}

a:hover, button:hover {
    opacity: 0.6;
}

header, footer {
    background: #EEE;
    padding: var(--spacing-unit);
}

header {
    margin-top: 0;
    margin-bottom: var(--spacing-unit);
    border-bottom: 10px solid #E6E6E6;
}

footer {
    margin-bottom: 0;
    margin-top: var(--spacing-unit);
    border-top: 10px solid #E6E6E6;
}

.content {
    max-width: min(100%, 800px);
    margin: var(--spacing-unit) auto;
}

.beyond-wordplay-link {
    border: none;
}

.beyond-wordplay-logo {
    width: 10em;
}

.headers {
    font-size: 1.5em;
    text-align: center;
    margin: calc(2 * var(--spacing-unit)) 0;
}

.headers h3 {
    color: var(--grey-color);
    line-height: 1em;
    font-weight: normal;
    font-style: italic;
}

.body {
    padding: var(--spacing-unit);
    margin: var(--spacing-unit);
}

.body h1, .body h2, .body h3, .body h4, .body h5, .body h6 {
    margin-bottom: 0.5em;
}

.body img {
    max-width: 100%;
}

/* SCRABBLEGRAMS PAGE */

.publication-header {
    line-height: 2em;
    font-size: 1.5em;
}

.publication {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-gap: var(--spacing-unit);
    
}

.publication:not(:last-child) {
    padding-bottom: calc(2 * var(--spacing-unit));
    border-bottom: 1px solid #BBB;
    margin-bottom: calc(2 * var(--spacing-unit));
}

.scrabblegram {
    background: #EEE;
    /* background: url('./images/woodtile.jpeg'); */
    padding: var(--spacing-unit);
    margin-bottom: var(--spacing-unit);
    /* box-shadow: 2px 2px #ac8c5d; */
}

.winner {
    border: 5px solid #ffd25f;
    background: #fde9b5
}

.scrabblegram p {
    font-family: var(--header-font-family);
    font-weight: bold;
}

.scrabblegram-info {
    font-weight: normal;
    color: var(--grey-color);
}

@media all and (max-width: 600px) {
    .headers {
        font-size: 1.1em;
    }

    .publication {
        display: block;
    }

    .body img {
        height: 300px;
        display: block;
        margin: auto;
        margin-bottom: var(--spacing-unit);
    }
}